.callPhone {
  width: 45%;
  height: 8.5rem;
  position: fixed;
  bottom: 0%;
  left: 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  background: #fff;
}
.callPhone .callPhoneTop {
  padding: 20px;
  background: #eee;
}
.callPhone .callPhoneBox {
  text-align: center;
  margin-top: 60%;
}
.callPhone .callPhoneBox div:nth-child(1) {
  font-size: 0.2rem;
  font-weight: 600;
}
.callPhone .callPhoneBox div:nth-child(2) {
  font-size: 0.15rem;
  margin: 10px 0;
}
.callPhone .callPhoneBox div:nth-child(3) {
  border-radius: 20px;
  background: #eee;
  padding: 10px 0;
  margin: 0 20px;
}
